{% extends 'base/base.html' %}

{% block title %} Order Confirmation {% endblock %}


{% block content %}
    <div class="container mb-5">
        <div class="row justify-content-center mt-1">
            <div class="col-md-5 col-sm-12 text-center">
                <h3>Order Summary</h3>
                {% for item in items %}
                    <p>{{ item.name }}<span>${{ item.price }}</span></p>
                {% endfor %}
                <p>Total Price: ${{ price }}</p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h4>Pay now or pay with cash at Delivery</h4>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <a class="btn btn-outline-info" href="{% url 'customer:request' order.price order.id %}">Payment</a>
            </div>
        </div>
    </div>
{% endblock %}